#root {
    max-width: 1440px;
    margin: 0;
    overflow-x: hidden;
}


/*Nav*/

.sidebar-menu {
    background-color: #131313;
    width: 109px;
    height: 2492px;
    position: absolute;
    z-index: 9999;
}

.sidebar-flex {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    padding-top: 30px;
    position: sticky;
    top: 0;
}


/*Hero*/

.hero-container {
    background-image: url(./assets/fallback-img.png);
    width: 1331px;
    height: 544px;
    position: relative;
    z-index: 1;
    margin-left: 109px;
}

.card-flex {
    display: flex;
    flex-direction: column;
    padding: 26px 46px;
    width: fit-content;
    gap: 24px;
}

.main-title {
    /* Headline - Desktop 80px */
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 321px;
    height: 120px;
    text-transform: uppercase;
    margin: 0;
}

.film-info {
    /* Small Text - Desktop 12px */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 224px;
    height: 24px;
    line-height: 24px;
    padding-top: 4px;
    /* identical to box height, or 200% */
    color: #747474;
}

.film-about {
    /* Paragraph - Desktop 15px */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    width: 386px;
    height: 78px;
    padding-top: 20px;
    /* or 173% */
    color: #FFFFFF;
}

.film-credits {
    /* film-credits 
    position: absolute;
    
    left: calc(50% - 278px/2 - 480.5px);
    top: 296px;*/
    /* Small Text - Desktop 12px */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    width: 278px;
    height: 48px;
    /* or 200% */
    color: #FFFFFF;
}

.credits-flex {
    display: flex;
    flex-direction: column;
    gap: 49px;
}

.btn-watch button {
    /* Paragraph - Desktop 15px */
    width: 155.5px;
    height: 43.36px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #FF4E4E;
    background: #080808;
    border: 0.954145px solid #FF4E4E;
    border-radius: 40.0741px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}


/*Container films*/

.container-films {
    height: 780px;
    margin-left: 109px;
    background-color: #232323;
}

.container-films h2 {
    /* Section Title - Desktop 20px */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    /* or 110% */
    color: #FFFFFF;
    padding: 81px 0px 0px 49px;
    width: 1232px;
}


/*ImageGrid*/

.image-grid-flex {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 16px 49px;
}

.img-w {
    width: 190px;
    height: 280px;
    cursor: pointer;
}


/*Footer*/

.container-footer {
    height: 389px;
    background: #080808;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text h3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 25px;
    /* or 63% */
    color: #FFFFFF;
    padding: 83px 0 22px 158px;
    margin: 0;
}

.footer-text p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    /* or 173% */
    color: #FFFFFF;
    width: 562px;
    height: 72px;
    padding: 0px 0px 0px 158px;
    opacity: 0.8;
}

.footer-img {
    width: 500px;
}

.footer-form {
    display: flex;
    flex-direction: row;
    padding: 46px 0 0 158px;
    gap: 18px;
    width: 351px;
}

.form-control {
    background: #080808;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    /* or 173% */
    color: #FFFFFF;
    border: none;
}

.footer-form button {
    border: 0.772727px solid #FFFFFF;
    border-radius: 32.4545px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    width: 97px;
    height: 30px;
    cursor: pointer;
}