#root {
    max-width: 1440px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


/*Nav*/

.sidebar-menu {
    background-color: #131313;
    width: 109px;
    height: 3028px;
    position: absolute;
    z-index: 9999;
}

.sidebar-flex {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    padding-top: 30px;
    position: sticky;
    top: 0;
}


/*Hero*/

.card-flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-title {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 80px;
    line-height: 120px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: 120px;
    text-transform: uppercase;
    margin: 0;
}

.film-info {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 12px;
    width: 224px;
    height: 24px;
    line-height: 24px;
    padding-top: 4px;
    color: #747474;
}

.film-about {
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    height: 78px;
    padding-top: 20px;
    color: #FFFFFF;
}

.film-credits {
    /* film-credits 
    position: absolute;
    
    left: calc(50% - 278px/2 - 480.5px);
    top: 296px;*/
    /* Small Text - Desktop 12px */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    height: 48px;
    /* or 200% */
    color: #FFFFFF;
}

.credits-flex {
    display: flex;
    flex-direction: column;
    gap: 49px;
}

.btn-watch button {
    width: 155.5px;
    height: 43.36px;
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #FF4E4E;
    background:  #08080897;
    border: 0.954145px solid #FF4E4E;
    border-radius: 40.0741px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    transition: .3s;
}
.btn-watch button:hover{
    transform: scale(1.05);
    background: #080808;
}

/*Container films*/
.container-films{
    background: #232323;
    padding: 81px 109px;
    display: flex;
    flex-direction: column;
    width: 1550px;
    align-items: center;
}
.container-films h2{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    height: 58px;
}
.img-w {
    width: 190px;
    height: 280px;
    cursor: pointer;
    transition: .3s;
}
.img-w:hover{
    transform: scale(1.05);
}
.sarasa{
    display: flex;
    flex-wrap: wrap;
    gap:18.5px;
    width: 1080px;
}

/*Footer*/

.container-footer {
    height: 389px;
    background: #080808;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text h3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 83px 0 22px 158px;
    margin: 0;
}

.footer-text p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    width: 562px;
    height: 72px;
    padding: 0px 0px 0px 158px;
    opacity: 0.8;
}

.footer-img {
    width: 500px;
}

.footer-form {
    display: flex;
    flex-direction: row;
    padding: 46px 0 0 158px;
    gap: 18px;
    width: 351px;
}

.form-control {
    background: #080808;
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    border: none;
}

.footer-form button {
    border: 0.772727px solid #FFFFFF;
    border-radius: 32.4545px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    width: 97px;
    height: 30px;
    cursor: pointer;
}
.carousel-caption{
    text-align: start !important; 
    bottom: 20.25rem !important;
}
